.call-container-details {
  box-shadow: 2px 2px 2px 2px lightgrey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  align-items: baseline;
  margin-bottom: 10px;
  background: white;
  height: 300px;
  width: 90%;
}

.image-and-phone-number-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.caller-img {
  height: 5rem;
  margin-right: 1rem;
}

.call-info-from {
  font-size: 20px;
  font-weight: bold;
}